body {
    background-color: #58bbbb;
  }
  h1 {
    color: #045a5a;
    position: left;
  }
  h2 {
    color: black;
    font-size: 20px;
    font-family: 'Georgia';
    }
  p {
    color: black;
  }
  li a{
      color: white;
  }
  .grid-container {
    display: grid;
    grid-template-areas:
      "header header header"
      "menu menu menu"
      "main  main main"
      "footer footer footer";
    grid-gap: 0;
    background-color: #58bbbb;
    padding: 0;
    margin: 0;
  }
.item1 { grid-area: header;
  position:relative;
  padding: 0%;
  margin-left: 70%;
  font-family: 'Aial Narrow';
  height: 10%;
  width: 60%;
  color: white;
  }
.item2 { grid-area: menu;
  width: 100%;
  height: auto;
  padding: 0%;
  background-color: #045a5a;
  margin-left: 12%;
}
.item3 { grid-area: main; 
width: 75%;
height: auto;
position: relative;
font-size: 25px;
background-color: white;
margin: 4%;
padding: 3%;
font-family:Georgia, 'Times New Roman', Times, serif;
margin-left: 15%;
border: solid;
border-color: black;
}
.center {
  display: block;
  border-style:dotted;
  border-color: #045a5a;
  margin-left: 30%;
  margin-right: auto;
  width: 30%;
  height: auto;
}
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.item5 { grid-area: footer;
  display: block;
  background-image: url(image/background.jpg);
  width: 70%;
  height: auto;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif; 
  padding: 0%;
  margin: 0%;
  text-align: center;
  margin-left: 16%;
}
Bridgewater_Sara.jpg { 
  width: 30%;
  height: auto; 
position: center;
}
.email img {
  width: 100%;
  transition: 0.5s all ease-in-out;
}
.item5:hover img {
  transform: scale(1.5);
}
.phone img {
  width: 100%;
  transition: 0.5s all ease-in-out;
}
.formid{    
  grid-area: form-area;
  text-align: left; 
}
 