body {
    background-color: #58bbbb;
  }
  h1 {
    color: #045a5a;
    position: left;
  }
h2 {
  color: black;
font-size: 20px;
font-family: 'Georgia';
}
  p {
    color: black;
  }
  li a{
      color: white;
  }
  .grid-container {
    display: grid;
    grid-template-areas:
      "header header header"
      "menu menu menu"
      "main right right"
      "footer footer footer";
    grid-gap: 0;
    background-color: none;
    padding: 10px;
    margin: 0;
  }
.item1 { grid-area: header;
  position:relative;
  padding: 0%;
  margin-left: 70%;
  font-family: 'Aial Narrow';
  height: 10%;
  width: 60%;
}
.item2 { grid-area: menu;
  width: 100%;
  height: auto;
  padding: 0%;
  background-color: #045a5a;
  margin-left: 12%;
}
.iframe-container {
  margin-left: 25%;
}
.item3 { 
  width: 70%;
  height: auto;
  position: relative;
  font-size: 25px;
  background-color: white;
  margin: 4%;
  padding: 3%;
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin-left: 15%;
  border: solid;
  border-color: black;
}
.health {
  width:60%;
  height:auto;
  margin-left: 25%;
}
.resume {
  color:#045a5a;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  margin-left: 35%;
}
.fig{
  margin-left:25%;
}
.item4 { grid-area: right;
background-color: white;
margin: 0%;
padding: 2%;
font-size: 25px;
img src: center;
width: auto;
height: auto;
}
.item5 { grid-area: footer;
  display: block;
  background-image: url(image/background.jpg);
  width: 70%;
  height: auto;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif; 
  padding: 0%;
  margin: 0%;
  text-align: center;
  margin-left: 16%;
}
.table {
  border-collapse: collapse;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 15%;
  width: auto;
  height: auto;
}
.table caption {
  text-align: center;
}
.table th{
  border: 1px solid black;
  text-align:center;
  color: white;
  background-color: #137262;
}
.table td {
  border: 1px solid black;
  padding: 4px 4px;
}
.table tr:nth-child(odd) td {
  background-color: #92e6e6;
}
table {
  grid-area: nav;
  padding: 20px;
  gap: 50px;
}
Bridgewater_Sara.jpg{ 
  width: 30%;
height: auto; 
}
.email img {
  width: 100%;
  transition: 0.5s all ease-in-out;
}
.item5:hover img {
  transform: scale(1.5);
}
.phone img {
  width: 100%;
  transition: 0.5s all ease-in-out;
}