body {
    background-color: #58bbbb;
  }
  h1 {
    color: #045a5a;
    position: relative;
  }
  h2 {
color: black;
font-size: 20px;
font-family: 'Georgia';
  }
  p {
    color: black;
  }
  li a{
      color: white;
  }
  .grid-container {
    display: grid;
    grid-template-areas:
      "header header header"
      "menu menu menu"
      "main  main main"
      "footer footer footer";
    grid-gap: 0;
    background-color:#58bbbb;
    padding: 0;
    margin: 0;
  }
.item1 { grid-area: header;
position:relative;
padding: 0;
margin-left: 70%;
font-family: 'Aial Narrow';
height: 10%;
width: 60%;
}
.item2 { grid-area: menu;
  width: 100%;
  height: auto;
  padding: 0%;
  background-color: #045a5a;
  margin-left: 12%;
}
.item3 { 
grid-area: main; 
width: 70%;
height: auto;
font-size: 25px;
background-color: white; 
margin: 4%;
padding: 3%;
border: solid;
border-color: black;
position: center; 
margin-left: 12%;
}
.center {
  display: block;
  margin-left: 25%;
  margin-right; auto;
  width: 50%;
  border-style:dotted;
  border-color: #045a5a;
}
.item5 { grid-area: footer;
    display: block;
    background-image: url(image/background.jpg);
    width: 70%;
    height: auto%;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    padding: 0%;
    margin: 0%;
    text-align: center;
    margin-left: 16%;
  }
.email image {
  width: 100%;
  transition: 0.5s all ease-in-out;
}
.item5:hover img {
  transform: scale(1.5);
}
.phone image {
  width: 100%;
  transition: 0.5s all ease-in-out;
}
Bridgewater_Sara.jpg { 
  width: auto;
  height: auto; 
position: center;
}
@media print {
  * {
      background: transparent !important;
      color: #000 !important;
      box-shadow: none !important;
      text-shadow: none !important;
      font-family: 'Times New Roman', Times, serif;
  }
  h1 {
      margin: 0;
      padding: 0;
  }
  ul {
      padding-left: 0%;
  }
  .grid-container { 
      font-size: 50%;
      width: 100%;
      display: flex;
      flex-direction: column;
  }
  .nav-list {
      display: none;
  }
  @page {
      margin: 1in;
  }
}
