body {
    background-color: #58bbbb;
  }
  h1 {
    color: #045a5a;
  }
  p {
    color: black;
  }
  li a{
      color: white;
  }
nav area{
  text-decoration: none;
}
.item1 { grid-area: header; }
.item2 { grid-area: left; }
.item3 { 
  grid-area: main; 
  main p:first-child::first-letter;
    font-size: 200%;
main p {text-indent: 50px;}
main p {text-indent: 50px;}
}
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 0;
  background-color: none;
  padding: 10px;
  margin: 0;
}

.grid-container > div {
  background-color: white;
  text-align: left;
  padding: 20px 0;
  font-size: 30px;
  padding: 20px;
  margin: 0px;
}
main p:first-child::first-letter{ 
  font-size: 200%;}
main p {text-indent: 50px;
}
#container{
  width:960px;
  margin: 0px auto;
}

#lef-column{
  width: 700px;
  float: left;
  background: blue;
}

#right-column{
  width: 260px;
  float: left;
  background: orange;
}
@media screen and (max-width:959px){
  #container{
    width: 100%;
  }
#left-column{
  width: 70%
}
#right-column{
  width: 30%;
}
img{
  width:100%
}
}

@media screen and (max-width:640px){
  #left-column{
    width: 100%;
  }
  #right-column{
    width:100%;
  }
}
@media screen and (max-width:640px){
  #container{
    width: 320px;
  }
}