ul {
  list-style-type: none;
  margin: 0;
  padding: 20px 0 20px 0;
  overflow: hidden;
  background-color: #006666;
}
li {
  float: left;
}
li a {
  display: block;
  border: none;
  color: white;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  padding: 14px 16px;
}
li a:hover {
  background-color: black;
}