ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #006666;
    border-style: solid;
    border-color: black;
  }
  
  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #006666;
  }
<ul>
<li>Home 1</li>
<li>Projects 2
<ul>
<li>Menu Link 1</li>
<li>Menu Link 2</li>                                            
<li>Menu Link 3</li>
</ul>
</li>
<li>Reflection</li>
<li>Contact</li>
</ul>
nav ul>li ul {
    position: absolute;
    margin-top: 0;
    margin-left: 100%;
    display: none;
    }
    
    /*special hover to display the drop-down*/
    nav>ul>li:hover>ul{
    display: block;
    }