#nav_menu ul {
    list-style-type: none;
    position: relative;}
   #nav_menu ul li {float: left;}
   #nav_menu ul li a {
       text-align: center;
       display: block;
       width: 200px;
       padding: 2em 0;
       background-color: #669966
       color: white;
       text-decoration: none;
       border: 1 px solid black;
       height: 50px;
       margin: 0;
    }
#nav_menu ul li a.lastitem { border-right: none; }
#nav_menu ul li ul {
    display: block;
    position: relative;
    top: 100%;
    padding: 0;
    background-color: #006666
    color: white;
    text-decoration: none;
}
#nav_menu ul li { float: none;}
}   